{% extends "../base.html" %}
{% load static %}
{% block title %}Events{% endblock %}
{% block content %}
    <div class="eventPage">
        <main>
            <section class="intro">
                <h1>Events At <br> Godhouse Church.</h1>
            </section>
            <section class="selectCenter">
                <h3>Want to Know What's Happening at Your Center?</h3>
                <p>Choose your center below to find recent and upconiming events that are specific to you!</p>
                <select name="" id="">
                    <option value="">Select Center</option>
                    {% for event in events %}
                        <option value="">{{ event.location }}</option>
                    {% endfor %}
                </select>
                <button>Find Events</button>
            </section>
            <section>
                <div class="grid-container">
                    {% for event in events %}
                        {% if event.active == True %}
                        <div class="grid-item">
                            <span>
                                <span>
                                    <h4>{{ event.date|date:"F d, Y" }}</h4>
                                    <img src="{{ event.image.url }}" alt="">
                                </span>
                                <span class="text">
                                    <h3>{{ event.name }}</h3>
                                    <p><span>THE GODHOUSE CENTER - {{ event.location}}</span></p>
                                    <p><span>{{ event.date|time:"g:i A" }}</span> GMT+1</p>
                                    <p>{{ event.description }}</p>
                                    <button><a href='{{ event.register_link }}' style='text-decoration:none; color:white;'>{{ event.button_text }}</a></button>
                                </span>
                            </span>
                        </div>
                        {% else %}
                        <div class="grid-item">
                            <span>
                                <span>
                                    <h4>{{ event.date|date:"F d, Y" }}</h4>
                                    <img src="{{ event.image.url }}" alt="">
                                </span>
                                <span class="text">
                                    <h3>{{ event.name }}</h3>
                                    <p><span>THE GODHOUSE CENTER - {{ event.location}}</span></p>
                                    <p><span>{{ event.date|time:"g:i A" }}</span> GMT+1</p>
                                    <p>{{ event.description }}</p>
                                    <button style='background-color:gray;'>{{ event.button_text }}</button>
                                </span>
                            </span>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
        </main>
    </div>
{% endblock %} 