{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giving  - The GodHouse Center</title>
    <link rel="stylesheet" href="{% static 'core/assests/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'core/assests/remixicon/remixicon.css' %}">
    <link rel="stylesheet" href="{% static 'core/assests/boxicons/css/boxicons.css' %}">
    <link rel="shortcut icon" href="{% static 'core/images/logo.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel="stylesheet" href="{% static 'core/css/give1.css' %}">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-297C7ZR3QW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-297C7ZR3QW');
</script>
<body>

    <!--<div class="back_icon">
        <a href="home.html"><ion-icon class="arrow_icon" name="arrow-back-outline"></ion-icon></a>
    </div>-->

    <div class="container">
        <div class="giving_container">
            <div class="left">
                <a href='/' style="width:30%; height:10%; display: flex; justify-content: flex-start; align-items:flex-start">
                    <img src="{% static 'core/images/logo.jpg' %}" alt="church-logo" style="width:100%; height:100%; object-fit: contain;">
                </a>
                <div class="giving_svg">
                    <img style="height: 220px;" src="{% static 'core/asset/giving-2.svg' %}" alt="giving-svg">
                </div>

                <div class="left_content">
                    <p class="child_content">We give as an act of service, worship, and total obedience to God</p>
                    <p class="child_content">Just as God gave us His Son, we also have learned to lay down our lives </p>
                    <p class="child_content">and resources for the advancement of God's kingdom on earth.</p
                </div>
            </div>

            <div class="right">
                <div class="bank_logo1_container">
                    <div class="bank_logo">
                        <div class="gt banks-content">
                            <img width="60px" src="{% static 'core/asset/gtbank-logo.png' %}" alt="gtbank-logo">
                            <span class="gt_name">Guaranty Trust Bank</span>
                        </div>
                    </div>
    
                    <div class="banks_details">
                        <div class="bank_name same">
                            <div>Bank Name</div>
                            <div class="bname">Guaranty Trust Bank</div>
                        </div>

                        <div class="account_name same">
                            <div>Account Name</div>
                            <div class="bname">Godhouse Missions</div>
                        </div>

                        <div class="account_number same">
                            <div>Account Number</div>
                            <div class="bname">0122534037</div>
                        </div>

                    </div>
                </div>
                <div class="right" style="margin-top:1rem;">
                    <div class="bank_logo1_container">
                        <div class="bank_logo">
                            <div class="gt banks-content">
                                <img width="60px" src="{% static 'core/asset/gtbank-logo.png' %}" alt="gtbank-logo">
                                <span class="gt_name">Guaranty Trust Bank ( Dollar account)</span>
                            </div>
                        </div>
        
                        <div class="banks_details">
                            <div class="bank_name same">
                                <div>Bank Name</div>
                                <div class="bname">Guaranty Trust Bank</div>
                            </div>
        
                            <div class="account_name same">
                                <div>Account Name</div>
                                <div class="bname">Godhouse Missions (USD Account)</div>
                            </div>
        
                            <div class="account_number same">
                                <div>Account Number</div>
                                <div class="bname">0890543002</div>
                            </div>
        
                        </div>
                    </div>
                </div>

                <div class="right_left">
                   <div class="bank_logo2">
                       <div class="access banks-content">
                           <img width="60px" src="{% static 'core/asset/access-bank-logo.png' %}" alt="access-bank">
                           <span class="access_name">Access Bank (Teacher Seed)</span>
                       </div>
       
                       <div class="banks_details2">
                            <div class="bank_name same">
                               <div>Bank Name</div>
                               <div class="bname">Access Bank</div>
                           </div>
   
                           <div class="account_name same">
                               <div>Account Name</div>
                               <div class="bname">Theophilus Danjuma</div>
                           </div>
   
                           <div class="account_number same">
                               <div>Account Number</div>
                               <div class="bname">0043306505</div>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
        </div>

    </div>

    <!--Ionicon Link Start-->
     <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
     <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
     <!--Ionicon Link End-->
</body>
</html>