{% extends "../base.html" %}
{% load static %}
{% block title %}Unit{% endblock %}
{% block content %}
    <div class="eventPage servePage">
        <main>
            <section class="serveIntro">
                <h2>Serve with a team</h2>
                <p>
                    Explore the diverse units within our church, 
                    where you can actively participate and make a meaningful impact on 
                    our community.:
                </p>
                <h6>See serve opportunities below.</h6>
            </section>
            <section>
                <div class="grid-container">
                    {% for u in unit %}
                    <div class="grid-item serve">
                        <span>
                            <img src="{{ u.images.url }}" alt="">
                            <span class="text">
                                <h3>{{ u.name }}</h3>
                                <p>{{ u.description }}</p>
                            </span>
                        </span>
                    </div>
                    {% endfor %}
                    <div class="grid-item serve">
                        <span>
                            <img src="{% static 'core/images/dev-team.jpg' %}" alt="">
                            <span class="text">
                                <h3>Dev. team</h3>
                                <p>
                                    Are you a programmer, designer, content writer, or project manager? Can your tech skill contribute towards the ministry? Our Global Dev. Team is dedicated to elevating worship experiences through innovative web solutions. Join us in harnessing technology to enhance our online worship experience.
                                </p>
                                <a href="">Join Dev Team &rarr;</a>
                            </span>
                        </span>
                    </div>
                </div>
                
            </section>
            <section class="unitInfo">
                <h1>To know how you can join a service unit, speak with a leader at your local GodHouse center</h1>
            </section>
        </main>
    </div>
{% endblock %}