/* GOGGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Montserrat:wght@100;200;300;400;500&family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    /*background-color: rgba(255, 188, 14, 0.05);*/
    background: rgba(255, 255, 255, 1);
}

/* FIRST SECTION HEADER START */
.header_container {
    padding-top: 10px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1000;
    width: 100%;
    height: 110px;  /* 229px */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left img {
    margin-left: 13px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-right: 20px;
}

.right .give_btn button {
    width: 242px; /*242px*/
    height: 79px;
    border-radius: 16px;
    background: linear-gradient(254.81deg, #FF0000 8.13%, #FF6E01 92.46%);
    color: #fff;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 17.92px;
    letter-spacing: 2%;
    font-size: 23px;
    cursor: pointer;

}

.right .give_btn button:hover {
    background: #FF6E01;
}

.right .menu_bar {
    width: 241px;
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 16px;
    cursor: pointer;
}

#menu-btn {
    font-size: 1.5rem;
    cursor: pointer;
}

#menu-btn.fa-times { /* cancel and Menu Navbar*/
    font-size: 1.5rem;
    transform: rotate(180deg);
}

.right .menu_bar .menu_span {
    font-family: "Montserrat", sans-serif;
    font-size: 27px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0px;
}

.accordion_menu {
    position: absolute;
    top: 100%;
    left: 5;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    width: 515px;
    height: 658px;
    background: rgba(213, 166, 25, 1);
    transition:  2 ease-in-out;
}

.accordion_menu.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}


.accordion_menu li.active .dropdown {
    color: #fff;
}
.accordion_menu li.active .dropdown  .fa-chevron-down {
    transform: rotate(180deg);
}
.dropdown, .dropdown_text {
    cursor: pointer;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
    padding: 1.16rem 1.5rem; /* 1rem 1.5rem*/
    border-bottom: 1px solid white;
    color: black;
    position: relative;
    border-width: 2px;
    transition: 0.3s;
    margin-left: 17px;
    margin-right: 17px;
}

.dropdown:hover {
    color: #fff;
}

.dropdown_text:hover {
    color: #fff;
}
  
.dropdown .fa-chevron-down {
    position: absolute;
    right: 12px;
    left: auto;
    transition: transform 0.2s ease-in-out;
    font-size: 1.5rem;
}

.submenuItems {
    display: none;
    transition: all 2s ease-in-out;
}

.accordion_menu li.active .submenuItems{
    display: block;
}

.submenuItems a {
    display: block;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding: 1rem 1.5rem; /* 1rem 1.5rem*/
    border-bottom: 1px solid black;
    color: #fff;
    border-width: 2px;
    transition: 0.3s;
    margin-left: 17px;
    margin-right: 17px;
    text-decoration: none;
}

.submenuItems a:hover {
    color: #fff;
    transition:  2 ease-in-out;
}
/* FIRST SECTION HEADER START END */

/* FIRST SECTION CONTENT START*/
.first_section_content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    background: rgba(145, 145, 145, 1);
}

.fs_one_image {
    width: 570px;
    height: 400px;
}

.fs_c {
    font-family: "Poppins", sans-serif;
    font-size: 54px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

.fs_d {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}
/* FIRST SECTION CONTENT END*/

/* SECOND SECTION START*/
.second_section {
    height: 193px;
    background: rgba(0, 0, 0, 1);
}

.second_section_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-top: 23px;
}

.social_one_content {
    text-align: center;
}

ion-icon {
    font-size: 60px;
    color: #fff;
}

.map-content {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.map_link {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.map_link a {
    color: rgba(255, 255, 255, 1);
}
/* SECOND SECTION END*/

/* FIRST SECTION START*/
.third_section {
    margin-top: 3rem;
}
.reach {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    padding-left: 19rem;
}
/* THIRD SECTION END*/
