body{
    width: 100%;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    width: 100%;
    height: 1000px;
    margin: 0px;
    background-image: url(../images/header-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: space-between;
}

header .first{
    width: 100%;
    height: 200px;
    margin: 0px;
}
header .first .intro{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

header .first  .intro .logo{
    width: 140px;
    height: 90px;
    margin: 30px;
}

header .first  .intro .link{
    width: 30%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .first .intro .link nav a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 16px;
    margin: 8px;
}

header .first  .intro .a{
    height: 20px;
    width: 70px;
    padding: 15px 40px;
    background-image: linear-gradient(to right,#FF6E01, #FF0000);
    color: white;
    border-radius: 10px;
    margin:5px;
    text-decoration: none;
    text-align: center;
}

header .first  .intro .b{
    background-color: white;
    height: 20px;
    width: 70px;
    color: black;
    padding: 15px 40px;
    border-radius: 10px;
    margin:5px;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
}
header .first  .intro .b img{
    width: 20px;
}

header .first .outro{
    width: 100%;
    height: 100px;
    margin: 0px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .first .outro h1, header .first .outro nav{
    margin: 30px;
}

header .first .outro nav{
    width: auto;
}

header .first .outro nav a{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
}

header .first .outro nav .activeLink{
    color: black;
}

header .second{
    margin-bottom: 70px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .second h3{
    font-size: 40px;
    margin: 5px;
    text-align: center;
}

header .second .HeaderSecondText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

header .second .HeaderSecondText h4{
    font-size: 30px;
    font-weight: lighter;
    margin: 5px;
    width: 50%;
    text-align: center;
}

header .second .HeaderSecondText h1{
    font-size: 40px;
    margin: 5px;
    width: 60%;
    text-align: center;
}

header .second a{
    padding: 15px 40px;
    border-radius: 10px;
    margin:30px;
    text-decoration: none;
    background-color: white;
    color: black;
}

footer{
    width: 100%;
    height: 700px;
    margin: 0px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer .footerBox{
    width: 95%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

footer .footerBox .footerSection{
    margin: 20px;
    width: 300px;
}

footer .footerBox .footerSection img{
    width: 150px;
}

footer .footerBox .footerSection a{
    display: block;
    text-decoration: none;
    color: white;
    margin: 20px;
}

footer .footerBox .footerSection .footerdiv{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

footer .footerBox .footerSection .footerdiv img{
    width: 30px;
    margin: 20px;
}

footer .footerBox .footerSection .footerdiv p{
    margin: 0px;
}

footer .socialMedia{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;   
}

footer .socialMedia h3{
    font-size: 20px;
}

/* About page style */

.about .firstMain{
    width: 100%;
    height: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(to right, white, rgb(232, 215, 218));
}

.about .firstMain .one{
    width: 50%;
    height: 90%;
    background-image: url(../images/Rectangle-16.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}

.about .firstMain .two{
    width: 50%;
}

.about .firstMain .two h2{
    font-size: 50px;
}

.about .firstMain .two p{
    width: 70%;
}

.about .secondMain{
    width: 100%;
    height: auto;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, white, rgb(228, 228, 176));
}

.about .secondMain .aboutBox{
    width: 900px;
    height: 450px;
    margin: 15px;
    border-radius: 30px;
    background-color: #FF0000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.about .secondMain .aboutBox h3{
    width: 400px;
    text-align: start;
    font-size: 50px;
    margin-bottom: 10px;
    margin-left: 70px;
    line-height: 40px;
    margin-top: 10px;
}

.about .secondMain .aboutBox p{
    width: 400px;
    text-align: start;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 70px;
}

.about .secondMain .orange{
    background-color: #fb430b;
}

.about .secondMain .cream{
    background-color: rgb(237, 237, 157);
    color: black;
}

.about .secondMain .gray{
    background-color: gray;
    color: black;
}

.about .fifthMain{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.about .fifthMain .involved{
    font-size: 60px;
    line-height: 0px;
    margin: 30px;
}

.about .fifthMain .involvedParagraph{
    color: rgb(84, 84, 84);
    font-size: 23px;
    line-height: 0px;
    margin: 20px;
}

/* Belief */
.belief{
    width: 100%;
    height: 900px;
    background-image: url(../images/Rectangle-8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
}

.beliefPage{
    width: 100%;
    height: auto;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.beliefPage .firstBeliefMain{
    width: 50%;
    margin: 100px;
}

.beliefPage .firstBeliefMain h1{
    width: 70%;
    font-size: 40px;
    text-align: center;
    margin: auto;
    font-weight: 550;
}

.beliefPage .grid{
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, white, rgb(232, 215, 218));
}

.beliefPage .grid .twoBox{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.beliefPage .grid .threeBox{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.beliefPage .grid .beliefContent{
    width: 300px;
    height: 250px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
}

.beliefPage .grid .beliefContent h1{
    font-size: 40px;
}

.beliefPage .believerClass{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beliefPage .believerClass div{
    width: 70%;
    height: 100px;
    border: 1px solid #fb430b;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beliefPage .believerClass div a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.beliefPage .believerClass div span{
    color: red;
    padding: 10px 15px;
    border-radius: 40px;
    border: 1px solid red;
    margin: 20px;
    font-size: 40px;
    font-weight: lighter;
}

.leaderPage{
    width: 100%;
    margin: 0px;
}

.leaderPage .fifthMain{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.leaderPage .fifthMain .community{
    width: 80%;
    margin: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leaderPage .fifthMain .community .communityImages{
    height: 400px;
}

.leaderPage .fifthMain .community .communityImages img{
    width: 150px;
    border-radius: 10px;
}

.leaderPage .fifthMain .community .communityImages .firstChild{
    margin: 100px 5px 0px;
}

.leaderPage .fifthMain .community .communityImages .secondChild{
    margin: 0px 5px 100px;
}

.leaderPage .fifthMain .community .communityImages .thirdChild{
    margin: 60px 5px 40px;
}

.leaderPage .fifthMain .community .communityText{
    height: 200px;
    width: 45%;
    margin: 30px;
}

.leaderPage .fifthMain .community .communityText h1{
    font-size: 40px;
}

.leaderPage .secondMain{
    width: 100%;
    height: auto;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(242, 243, 191), white);
}

.leaderPage .secondMain .aboutBox{
    width: 80%;
    height: 450px;
    margin: 15px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    color: black;
}

.leaderPage .secondMain .aboutBox img{
    height: 100%;
    width: 50%;
    border-radius: 20px;

}

.leaderPage .secondMain .aboutBox div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 50px;
}

.leaderPage .secondMain .aboutBox h3{
    width: 100%;
    text-align: start;
    font-size: 50px;
    margin-bottom: 10px;
    line-height: 40px;
}

.leaderPage .secondMain .aboutBox p{
    width: 400px;
    text-align: start;
    font-size: 16px;
}

.leaderPage .secondMain .aboutBox a{
    color: #FF0000;
    text-decoration: none;
}

.leaderPage .leaderText{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.leaderPage .leaderText .involved{
    font-size: 60px;
    line-height: 0px;
    margin: 30px;
}

/* animations */

.typing-animation {
    display:block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #dd0a0a; /* Cursor effect */
    animation: typing 5s steps(20, end) infinite, blink-caret 1s step-end infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #f30808;
      border-radius: 30px;
    }
}

/* Hide all but the active item */
.typing-container > div:not(:first-child) {
    display: none; 
}

/* Loop the animation infinitely */
.typing-container > div:last-child {
    animation: show-next 9s linear infinite;
}

@keyframes show-next {
    0%, 100% {
        opacity: 0;
    }
    16.66%, 100% {
        opacity: 1;
    }
}