/* GOGGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Montserrat:wght@100;200;300;400;500&family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    /*background-color: rgba(255, 188, 14, 0.05);*/
    background: rgba(255, 255, 255, 1);
}

.wrapper {
    width: 100%;

}

/* FIRST SECTION BACKGROUND */
/* FIRST SECTION BACKGROUND END*/

/* FIRST SECTION HEADER START */
.header_container {
    padding-top: 10px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 1);
    /*backdrop-filter: blur(4px);*/
    z-index: 1000;
    width: 100%;
    height: 110px;  /* 229px */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left img {
    margin-left: 13px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-right: 20px;
}

.right .give_btn button {
    width: 242px; /*242px*/
    height: 79px;
    border-radius: 16px;
    background: linear-gradient(254.81deg, #FF0000 8.13%, #FF6E01 92.46%);
    color: #fff;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 17.92px;
    letter-spacing: 2%;
    font-size: 23px;
    cursor: pointer;

}

.right .give_btn button:hover {
    background: #FF6E01;
}

.right .menu_bar {
    width: 241px;
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 16px;
    cursor: pointer;
}

#menu-btn {
    font-size: 1.5rem;
    cursor: pointer;
}

#menu-btn.fa-times { /* cancel and Menu Navbar*/
    font-size: 1.5rem;
    transform: rotate(180deg);
}

.right .menu_bar .menu_span {
    font-family: "Montserrat", sans-serif;
    font-size: 27px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0px;
}

.accordion_menu {
    position: absolute;
    top: 100%;
    left: 5;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    width: 515px;
    height: 658px;
    background: rgba(213, 166, 25, 1);
    transition:  2 ease-in-out;
}

.accordion_menu.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}


.accordion_menu li.active .dropdown {
    color: #fff;
}
.accordion_menu li.active .dropdown  .fa-chevron-down {
    transform: rotate(180deg);
}
.dropdown, .dropdown_text {
    cursor: pointer;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
    padding: 1.16rem 1.5rem; /* 1rem 1.5rem*/
    border-bottom: 1px solid white;
    color: black;
    position: relative;
    border-width: 2px;
    transition: 0.3s;
    margin-left: 17px;
    margin-right: 17px;
}

.dropdown:hover {
    color: #fff;
}

.dropdown_text:hover {
    color: #fff;
}
  
.dropdown .fa-chevron-down {
    position: absolute;
    right: 12px;
    left: auto;
    transition: transform 0.2s ease-in-out;
    font-size: 1.5rem;
}

.submenuItems {
    display: none;
    transition: all 2s ease-in-out;
}

.accordion_menu li.active .submenuItems{
    display: block;
}

.submenuItems a {
    display: block;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding: 1rem 1.5rem; /* 1rem 1.5rem*/
    border-bottom: 1px solid black;
    color: #fff;
    border-width: 2px;
    transition: 0.3s;
    margin-left: 17px;
    margin-right: 17px;
    text-decoration: none;
}

.submenuItems a:hover {
    color: #fff;
    transition:  2 ease-in-out;
}
/* FIRST SECTION HEADER START END */

/* FIRST SECTION SECOND HEADER START */
.second_header {
    height: 100vh;
    height: 63px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: rgba(145, 145, 145, 1);
    color:rgba(255, 255, 255, 1);
}

.second_header_left {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    margin-left: 13px;
}


.second_header_right {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    margin-right: 35px;
}

.second_header_right a {
    color:rgba(255, 255, 255, 1);
    padding-left: 10px;
}

.second_header_right a:hover {
    color: rgba(203, 203, 203, 1);
}

.second_header_right .pointer {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color:rgba(203, 203, 203, 1);
    transform: translateX(70px);
    transition: transform 0.3s ease-in-out;
}

.second_header_right a:nth-child(2):hover ~ .pointer {
    transform: translateX(220px);
}

.second_header_right a:nth-child(3):hover ~ .pointer {
    transform: translateX(360px);
}

/* FIRST SECTION SECOND HEADER END */

/*FIRST SECTION CONTENT START */
.first_section_content {
    background-image: url(../asset/first_section.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    font-family: "poppins", sans-serif;
    color: white;
}

.first_section_content {
    font-family: "Montserrat", sans-serif;
    font-size: 47px;
    font-weight: 400;
}

.first_section_first_content {
    font-family: "Poppins", sans-serif;
    font-size: 52px;
    font-weight: 600;
    line-height: 59px;
}

/*Learn more
.learn_more {
    width: 242px;
    height: 79px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.02em;
    gap: 5px;
}

.learn_more:hover {
    background: rgb(223, 213, 213);
    gap: 12px;
}*/

/*FIRST SECTION CONTENT END */

/*SECOND SECTION START*/
.second_section {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 66px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    padding-top: 100px;
}
/*SECOND SECTION END*/

/* THIRD SECTION START*/
.third_section {

}

.first_row_coding, .second_row_coding, .third_row_coding {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.third_section_first_container, .third_section_second_container {
    width: 400px;
    height: 250px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 30px;
}

.tsfc_1 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 57px;
    color: rgba(0, 0, 0, 1);
}

.tsfc_text {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(75, 76, 77, 1);
}
/* THIRD SECTION END*/

/* FOURTH SECTION START */

.forth_section {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
.forth_section_content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1065px;
    height: 130px;
    padding: 48px, 166.89px, 37.89px, 114px;
    border-radius: 20px;
    border: 3px solid rgba(255, 238, 192, 1);
    gap: 25px;
}

.believers_class {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}
/* FOURTH SECTION END */

/* footer start */
footer {
    margin-top: 120px;
    height: 400px;
    background: #000000;
}

footer a {
    text-decoration: none;
    color: white;
}

.footer_content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    gap: 190px;
    font-family: sans-serif;
}

.footer_first_content .identification {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer_first_content .identification a {
    margin-bottom: 5px;
}

.footer_second_content .identification {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer_second_content .identification a {
    margin-bottom: 5px;
}

.footer_third_content {
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.footer_third_content .third_sub_container {
    margin-top: 35px;
}

.footer_third_content .third_sub_container .call {
    margin-top: 24px;
}

ion-icon {
    color: white;
}

.social_media {
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    margin-top: 70px;
    text-align: center;
}

.social_media ion-icon {
    margin-top: 10px;
    font-size: 25px;
}

/* footer end */

