
/* Books and Merchant design */
.books main{
    position: relative !important;
}

.books .blackSection img{
    width: 8rem !important;
    height: 12rem !important;
    margin-right: 2rem !important;
}

.books .sectionTitle{
    text-align: center !important;
    margin-top: 2rem !important;
    font-size: 1.5rem !important;
}

.books section .grid-container-one{
    width: 100% !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 5rem !important;
    margin-bottom: 5rem !important;
}

.books section .grid-container-one .book{
    position: relative !important;
    background-color: white !important;
    width: 100% !important;
    height: 12rem !important;
    box-shadow: 0px 0px 15px 10px rgb(209, 208, 208) !important;
}

.books section .grid-container-one .book span{
    width: 70% !important;
    height: 10rem !important;
    position: absolute !important;
    right: 1rem;
}
.books section .grid-container-one .book span h3{
    margin: 10px 0px !important;
}

.books section .grid-container-one .book span p{
    /* width: 70%; */
    font-size: 0.6rem !important;
    margin: 5px 0px !important;
}

.books section .grid-container-one .book span p.p{
    margin: 5px 0px !important;
    font-weight: 600 !important;
}

.books section .grid-container-one .book span button{
    width: 90% !important;
    height: 2rem !important;
    border: 1px solid #FF6E01 !important;
    background-color: #fdd5b6 !important;
    color: #FF6E01 !important;
    border-radius: 5px !important;
}

.books section .grid-container-one .book span button:hover{
    border: none !important;
    background-color: #FF6E01 !important;
    color: white !important;
}

.books section .grid-container-one .book img{
    position: absolute !important;
    height: 9rem !important;
    width: 6remv !important;
    top: 1.5rem !important;
    left: -3rem !important;
    object-fit: contain;
}

.books section .grid-container-one .merch{
    position: relative !important;
}

.books section .grid-container-one .merch img{
    width: 100% !important;
    height: 20rem !important;
    object-fit: cover;
}

.books section .grid-container-one .merch button{
    position: absolute !important;
    /* display: none; */
    top: 15rem !important;
    width: 90% !important;
    height: 3rem !important;
    left: 1rem !important;
    background-color: black !important;
    color: white !important;
    border: none !important;
}

.books main .cart{
    position: fixed !important;
    bottom: 2rem !important;
    right: 4rem !important;
    background-color: rgb(210, 209, 209) !important;
    color: black !important;
    width: 5rem !important;
    height: 5rem !important;
    border-radius: 10rem !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.books main .cart p{
    margin: 0 !important;
}

.books main .cart sup{
    position: fixed !important;
    bottom: 5.5rem !important;
    right: 4rem !important;
    background-color: black !important;
    color: white !important;
    padding: 0.3rem 0.6rem !important;
    border-radius: 2rem !important;
}