/* GOGGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Montserrat:wght@100;200;300;400;500&family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    /*background-color: rgba(255, 188, 14, 0.05);*/
    background: rgba(255, 255, 255, 1);
}

/* FIRST SECTION HEADER START */
.header_container {
    padding-top: 10px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    /*backdrop-filter: blur(4px);*/
    z-index: 1000;
    width: 100vw;
    height: 110px;  /* 229px */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left img {
    margin-left: 13px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-right: 20px;
}

.right .give_btn button {
    width: 242px; /*242px*/
    height: 79px;
    border-radius: 16px;
    background: linear-gradient(254.81deg, #FF0000 8.13%, #FF6E01 92.46%);
    color: #fff;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 17.92px;
    letter-spacing: 2%;
    font-size: 23px;
    cursor: pointer;

}

.right .give_btn button:hover {
    background: #FF6E01;
}

.right .menu_bar {
    width: 241px;
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 16px;
    cursor: pointer;
}

#menu-btn {
    font-size: 1.5rem;
    cursor: pointer;
}

#menu-btn.fa-times { /* cancel and Menu Navbar*/
    font-size: 1.5rem;
    transform: rotate(180deg);
}

.right .menu_bar .menu_span {
    font-family: "Montserrat", sans-serif;
    font-size: 27px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0px;
}

.accordion_menu {
    position: absolute;
    top: 100%;
    left: 5;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    width: 515px;
    height: 658px;
    background: rgba(213, 166, 25, 1);
    transition:  2 ease-in-out;
}

.accordion_menu.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}


.accordion_menu li.active .dropdown {
    color: #fff;
}
.accordion_menu li.active .dropdown  .fa-chevron-down {
    transform: rotate(180deg);
}
.dropdown, .dropdown_text {
    cursor: pointer;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
    padding: 1.16rem 1.5rem; /* 1rem 1.5rem*/
    border-bottom: 1px solid white;
    color: black;
    position: relative;
    border-width: 2px;
    transition: 0.3s;
    margin-left: 17px;
    margin-right: 17px;
}

.dropdown:hover {
    color: #fff;
}

.dropdown_text:hover {
    color: #fff;
}
  
.dropdown .fa-chevron-down {
    position: absolute;
    right: 12px;
    left: auto;
    transition: transform 0.2s ease-in-out;
    font-size: 1.5rem;
}

.submenuItems {
    display: none;
    transition: all 2s ease-in-out;
}

.accordion_menu li.active .submenuItems{
    display: block;
}

.submenuItems a {
    display: block;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding: 1rem 1.5rem; /* 1rem 1.5rem*/
    border-bottom: 1px solid black;
    color: #fff;
    border-width: 2px;
    transition: 0.3s;
    margin-left: 17px;
    margin-right: 17px;
    text-decoration: none;
}

.submenuItems a:hover {
    color: #fff;
    transition:  2 ease-in-out;
}
/* FIRST SECTION HEADER START END */



body{
    width: 100%;
    margin: 0px;
    overflow-x: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
    width: 100vw;
    height: 90vh;
    margin: 0px;
    background-image: url(../image/first.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: space-between;
}

.header .first{
    width: 95%;
    height: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .first .logo{
    width: 140px;
    height: 90px;
}

.header .first .link{
    width: 30%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header .first .link nav a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 16px;
    margin: 8px;
}

.countdown{
    font-size: 4.5rem;
    margin: 0.4rem;
}

.header .first .a{
    height: 20px;
    width: 70px;
    padding: 15px 40px;
    background-image: linear-gradient(to right,#FF6E01, #FF0000);
    color: white;
    border-radius: 10px;
    margin:5px;
    text-decoration: none;
    text-align: center;
}

.header .first .b{
    background-color: white;
    height: 20px;
    width: 70px;
    color: black;
    padding: 15px 40px;
    border-radius: 10px;
    margin:5px;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header .first .b img{
    width: 20px;
}


.header .second{
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header .second h1{
    font-size: 50px;
    margin: 5px;
}

.header .second p{
    font-size: 20px;
    margin: 5px;
}

.header .second .a{
    padding: 15px 40px;
    border-radius: 10px;
    margin:30px;
    text-decoration: none;
    background-color: white;
    color: black;

}

.firstMain{
    width: 100vw;
    height: fit-content;
    padding: 4rem 0rem;
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: linear-gradient(to right, white, #fff6f6);
}

.firstMain .one{
    width: 90vw;
    height: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstMain .one img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.firstMain .one video{
    width: 90%;
    height: 70%;
    object-fit: contain;
}

.firstMain .two{
    width: 87vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.firstMain .two h2{
    font-size: 50px;
    text-align: center;
    margin: 3.5rem 0rem  0.5rem;
}

.firstMain .two h2 b{
    color: #FF0000;
}

.firstMain .two h2 span{
    font-size: 40px;
}

.firstMain .two p{
    margin-bottom: 0.5rem;
    text-align: center;
}

.firstMain .two a{
    padding: 15px 40px !important;
    border-radius: 10px !important;
    margin-top:30px !important;
    text-decoration: none !important;
    height: 20px !important;
    background-image: linear-gradient(to right,#FF6E01, #FF0000);
    color: white !important;
}

.secondMain{
    width: 100vw;
    height: fit-content;
    padding: 5rem 0;
    margin: 0px;
    background-image: url(../image/cc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
}

.secondMain h3{
    font-size: 38px;
    margin-bottom: 0.5rem;
}

.secondMain a{
    margin-top: 2rem;
    background-color: white;
    color: #FF0000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.1rem;
}

.thirdMain{
    width: 100vw;
    height:  fit-content;
    padding: 3rem 0 6rem;
    margin: 0.5rem 0px;
    background-image: linear-gradient(to right, white, rgb(231, 200, 205));
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.thirdMain h3{
    font-size: 3rem;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 3rem;
}


.thirdMain .slider{
    width: 90vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdMain .slider .slide-items{
    width: 70vw;
    height: 20rem;
    margin: 0;
    border-radius: 3rem;
}

.thirdMain .slider .slide-items img{
    width: 100%;
    height: 100%;
    object-fit: inherit;
    border-radius: 2rem;
}

.forthMain{
    width: 100vw;
    margin: 0;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0px 7rem;
    background-color: #a6a6a6;
}

.forthMain h2{
    font-size: 3rem;
    color: #FF0000;
}

.forthMain form{
    width: 95vw;
    padding: 1rem;
    position: relative;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    opacity: 60%;
}

.forthMain form section{
    height: fit-content;
    width: 47%;
}

.forthMain form section div{
    width: 100%;
    height: fit-content;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.forthMain form section div label{
    font-size: 1.7rem;
    color: black;
    font-weight: 900;
    margin: 0;
}

.forthMain form section div input{
    width: 100%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid black;
}

.forthMain form section div input:active{
    border: none;
    border-bottom: 1px solid black;
}

.forthMain form section div select:active{
    border: none;
    border-bottom: 1px solid black;
}

.forthMain form section div select{
    width: 100%;
    height: fit-content;
    margin-top: 0.2rem;
    font-size: 1.3rem;
    padding: 0.5rem 0;
    border: none;
    border-bottom: 1px solid black;
}

.forthMain form section div select option{
    border: none;
    border-bottom: 1px solid black;
}

.forthMain form button{
    padding: 1rem 3rem;
    position: absolute;
    bottom: -5rem;
    left: 44%;
    border: none;
    background-color: #FF0000;
    color: white;
    font-size: 1.2rem;
}

footer{
    width: 100%;
    height: fit-content;
    margin: 0px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer .footerBox{
    width: 95%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

footer .footerBox .footerSection{
    margin: 20px;
    width: 300px;
}

footer .footerBox .footerSection img{
    width: 150px;
}

footer .footerBox .footerSection a{
    display: block;
    text-decoration: none;
    color: white;
    margin: 20px;
}

footer .footerBox .footerSection .footerdiv{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

footer .footerBox .footerSection .footerdiv img{
    width: 30px;
    margin: 20px;
}

footer .footerBox .footerSection .footerdiv p{
    margin: 0px;
}

footer .socialMedia{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;   
}

footer .socialMedia h3{
    font-size: 20px;
}

/* Style the tab */
.tabs{
    width: 90vw;
    margin: 0;
}

.tab {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    width: 100%;    
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
    border-bottom: 5px solid #FF0000;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
    border-bottom: 5px solid #FF0000 ;
}

/* Style the tab content */
.tabcontent {
    background-color: white;
    color: black;
    display: none;
    padding: 6px 12px;
    border: 1px solid black;
    border-top: none;
}

.tabcontent .flex{
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.3rem solid black;
}

.tabcontent .flex h3{
    height: 100%;
    width: 25%;
    margin: 0;
    padding: 0;
    border-right: 0.3rem solid black;
}

.tabcontent .flex h3 small{
    font-weight: 100;
    margin-top: 1rem;
}

.tabcontent .flex p{
    margin: 2rem 0;
    padding: 0;
    height: 100%;
    width: 60%;
    font-size: 1.7rem;
}

/* animations */

.typing-animation {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    height: 30px;
    width: 30px;
    border-right: 3px solid #dd0a0a; /* Cursor effect */
    animation: typing 5s steps(20, end) infinite, blink-caret 1s step-end infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #752525;
      border-radius: 30px;
    }
}

@media all and (max-width:450px){
    .header_container {
        display: none;
    }


    body{
        width: 100vw;
        margin: 0px;
        overflow-x: hidden;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .header{
        width: 100vw;
        height: 70vh;
        margin: 0px;
        background-image: url(../image/first.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        justify-content: space-between;
    }
    
    .countdown{
        font-size: 2.5rem;
        margin: 0.4rem;
    }
    
    .header .second{
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    
    .header .second h1{
        font-size: 30px;
        margin: 5px;
    }
    
    .header .second p{
        font-size: 15px;
        margin: 5px;
    }
    
    .header .second .a{
        padding: 15px 40px;
        border-radius: 10px;
        margin:30px;
        text-decoration: none;
        background-color: white;
        color: black;
    
    }
    
    .firstMain{
        width: 100vw;
        height: fit-content;
        padding: 2rem 0rem;
        margin: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        background-image: linear-gradient(to right, white, #fff6f6);
    }
    
    .firstMain .one{
        width: 90vw;
        height: 13rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .firstMain .one img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    .firstMain .one video{
        width: 90%;
        height: 70%;
        object-fit: contain;
    }
    
    .firstMain .two{
        width: 87vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .firstMain .two h2{
        font-size: 40px;
        text-align: center;
        margin: 3.5rem 0rem  0.5rem;
    }
    
    .firstMain .two h2 b{
        color: #FF0000;
    }
    
    .firstMain .two h2 span{
        font-size: 40px;
    }
    
    .firstMain .two p{
        margin-bottom: 0.5rem;
        text-align: center;
    }
    
    .firstMain .two a{
        padding: 15px 40px;
        border-radius: 10px;
        margin-top:30px;
        text-decoration: none;
        height: 20px;
        background-image: linear-gradient(to right,#FF6E01, #FF0000);
        color: white;
    }
    
    .secondMain{
        width: 100vw;
        height: fit-content;
        padding: 5rem 0;
        margin: 0px;
        background-image: url(../image/cc.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        justify-content: center;
    }
    
    .secondMain h3{
        font-size: 28px;
        margin-bottom: 0.5rem;
    }
    
    .secondMain a{
        margin-top: 2rem;
        background-color: white;
        color: #FF0000;
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 0.1rem;
    }
    
    .thirdMain{
        width: 100vw;
        height: 500px;
        margin: 1rem 0px;
        background-image: linear-gradient(to right, white, rgb(231, 200, 205));
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .thirdMain h3{
        font-size: 2rem;
        text-align: center;
        line-height: 2rem;
    }
    
    .thirdMain h3 small{
        font-size: 1.7rem;
    }
    
    .thirdMain .slider{
        width: 90vw;
        height: 40vh;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .thirdMain .slider .slide-items{
        width: 70vw;
        height: 20rem;
        margin: 0;
        border-radius: 3rem;
    }
    
    .thirdMain .slider .slide-items img{
        width: 100%;
        height: 100%;
        object-fit: inherit;
        border-radius: 2rem;
    }
    
    .forthMain{
        width: 100vw;
        margin: 0;
        height: fit-content;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 0px 6rem;
        background-color: #a6a6a6 !important;
    }
    
    .forthMain h2{
        width: 97%;
        margin: auto;
        margin-bottom: 1rem;
        text-align: center;
        font-size: 1.7rem;
        color: #FF0000;
    }

    .forthMain form{
        width: 95vw;
        margin: 0;
        padding: 1rem;
        position: relative;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-color: white;
        opacity: 60%;
    }
    
    .forthMain form section{
        height: fit-content;
        width: 49%;
    }

    .forthMain form section div{
        width: 100%;
        height: fit-content;
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .forthMain form section div label{
        font-size: 1.2rem;
        color: black;
        font-weight: 900;
    }

    .forthMain form section div input{
        width: 100%;
        height: 2rem;
        border: none;
        border-bottom: 1px solid black;
    }

    .forthMain form section div select{
        width: 100%;
        height: fit-content;
        margin-top: 1.2rem;
        font-size: 1+-rem;
        padding: 0.5rem 0;
        border: none;
        border-bottom: 1px solid black;
    }
    
    .forthMain form button{
        padding: 1rem 3rem;
        position: absolute;
        bottom: -5rem;
        left: 25%;
        border: none;
        background-color: #FF0000;
        color: white;
        font-size: 1.2rem;
    }
    
    footer{
        width: 100vw;
        height: fit-content;
        margin: 0px;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }
    
    footer .footerBox{
        width: 95%;
        height: 70%;
        flex-direction: column;
        display: none;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    
    footer .footerBox .footerSection{
        margin: 20px;
        width: 300px;
    }
    
    footer .footerBox .footerSection img{
        width: 150px;
    }
    
    footer .footerBox .footerSection a{
        display: block;
        text-decoration: none;
        color: white;
        margin: 20px;
    }
    
    footer .footerBox .footerSection .footerdiv{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
    }
    
    footer .footerBox .footerSection .footerdiv img{
        width: 30px;
        margin: 20px;
    }
    
    footer .footerBox .footerSection .footerdiv p{
        margin: 0px;
    }
    
    footer .socialMedia{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 30px;   
    }
    
    footer .socialMedia h3{
        font-size: 20px;
    }
    
    /* Style the tab */
    .tabs{
        width: 90vw;
        margin: 0;
    }
    
    .tab {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }
    
    /* Style the buttons inside the tab */
    .tab button {
        width: 100%;
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 12px;
    }

    .tabcontent .flex{
        width: 100%;
        margin: 0;
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 0.3rem solid black;
    }
    
    .tabcontent .flex h3{
        height: 100%;
        width: 25%;
        font-size: 1rem;
        margin: 0;
        padding: 0;
        padding-right: 1rem;
        border-right: 0.3rem solid black;
    }
    
    .tabcontent .flex h3 small{
        font-weight: 100;
        margin-top: 1rem;
    }
    
    .tabcontent .flex p{
        margin: 2rem 0;
        padding: 0;
        height: 100%;
        width: 60%;
        font-size: 1rem;
        margin-left: 1rem;
    }
    
}