/* GOGGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Montserrat:wght@100;200;300;400;500&family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    /*background-color: rgba(255, 188, 14, 0.05);*/
    background: rgba(255, 255, 255, 1);
}

/* FIRST SECTION HEADER START */
.header_container {
    padding-top: 10px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1000;
    width: 100%;
    height: 110px;  /* 229px */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left img {
    margin-left: 13px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-right: 20px;
}

.right .give_btn button {
    width: 242px; /*242px*/
    height: 79px;
    border-radius: 16px;
    background: linear-gradient(254.81deg, #FF0000 8.13%, #FF6E01 92.46%);
    color: #fff;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 17.92px;
    letter-spacing: 2%;
    font-size: 23px;
    cursor: pointer;

}

.right .give_btn button:hover {
    background: #FF6E01;
}

.right .menu_bar {
    width: 241px;
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 16px;
    cursor: pointer;
}

#menu-btn {
    font-size: 1.5rem;
    cursor: pointer;
}

#menu-btn.fa-times { /* cancel and Menu Navbar*/
    font-size: 1.5rem;
    transform: rotate(180deg);
}

.right .menu_bar .menu_span {
    font-family: "Montserrat", sans-serif;
    font-size: 27px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0px;
}

.accordion_menu {
    position: absolute;
    top: 100%;
    left: 5;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    width: 515px;
    height: 658px;
    background: rgba(213, 166, 25, 1);
    transition:  2 ease-in-out;
}

.accordion_menu.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}


.accordion_menu li.active .dropdown {
    color: #fff;
}
.accordion_menu li.active .dropdown  .fa-chevron-down {
    transform: rotate(180deg);
}
.dropdown, .dropdown_text {
    cursor: pointer;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 1rem; /* 1rem 1.5rem*/
    border-bottom: 1px solid white;
    color: black;
    position: relative;
    transition: 0.3s;
    margin-left: 15px;
    margin-right: 15px;
}

.dropdown:hover {
    color: #fff;
}

.dropdown_text:hover {
    color: #fff;
}
  
.dropdown .fa-chevron-down {
    position: absolute;
    right: 12px;
    left: auto;
    transition: transform 0.2s ease-in-out;
    font-size: 1.5rem;
}

.submenuItems {
    display: none;
    transition: all 2s ease-in-out;
}

.accordion_menu li.active .submenuItems{
    display: block;
}

.submenuItems a {
    display: block;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 17.5px;
    font-weight: 300;
    padding: 1rem 1.5rem; /* 1rem 1.5rem*/
    border-bottom: 1px solid black;
    color: #fff;
    border-width: 1px;
    transition: 0.3s;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
}

.submenuItems a:hover {
    color: #fff;
    transition:  2 ease-in-out;
}
/* FIRST SECTION HEADER START END */

/* FIRST SECTION CONTENT*/
.first_section {
    width: 100%;
    background-image: url(../images/backg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 313px;
    object-fit: cover;
}

.first_section_content {
    padding: 40px;
    padding-left: 16rem;
    padding-top: 7rem;

}

.first_content_first_text {
    font-family: "Poppins", sans-serif;
    font-size: 54px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.first_content_second_text {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
}
/* FIRST SECTION CONTENT END*/

/*SECOND SECTION START */

.second_section {
    margin-top: 5rem;
}

.second_section_content {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: rgba(75, 76, 77, 1);
}

/*SECOND SECTION END */

/*THIRD SECTION START */
.third_section {
   background:rgba(0, 0, 0, 1);
   margin-top: 6rem;
}

.third_section_image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}

.men_group2 {
    width: 80%;
    height: 484px;
    object-fit: cover;
}

.third_section_text_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.third_section_text_one {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.third_section_text_two {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: rgba(255, 255, 255, 1);
    width: 412px;
    height: 264px;
}
/*THIRD SECTION END */

/*FORTH SECTION START*/
.fourth_section {
    padding-left: 18rem;
    margin-top: 3rem;
}

.join_community {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    line-height: 50px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 3rem;
}

.join_text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    width: 817px;
    height: 88px;
}
/*FORTH SECTION END*/

/* FIFTH SECTION START*/
.fifth_section {
    margin-top: 1rem;
}

.enquiry {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding-left: 18rem;
}

/* FIFTH SECTION END*/


/* footer start */
footer {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 3rem;
    margin-top: 3.5rem;
    height: 17rem;
    background-color: black;
}

footer span{
    width: 23%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
}

footer span h1{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0px 0px 10px;
}

footer span a{
    margin: 0px 0px 10px;
    font-weight: 100;
}

footer span img{
    width: 7rem;
}

footer span a{
    color: white;
    text-decoration: none;
}

footer span span{
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

footer span span ion-icon, i{
    margin-right: 12px;
}

footer span span p{
    margin: 0px;
}

footer .social a ion-icon {
    gap: 10px;
}
/* footer end */


@media screen and (max-width: 767px) {
    /* Styles for phone */
    /* HEADER START */
    .header_container {
        position: fixed;
        background-color: #f9f9f9;
        width: 100%;
        height: 60px;
        padding: none;   
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    
    
    .left img {
        margin-left: 7px;
        }
    
        .left img {
            width: 5rem;
        }
    
        .give_btn {
            display: none;
        }
    
        .right .menu_bar {
            width: 0;
            border: none;
        }
        
        .right .menu_bar .menu_span {
            display: none;
        }
    
         /* NAVBAR ACCORDION START */
         .accordion_menu {
            width: 100%;
            height: 100vh;
            background-color: grey;
        }
    
        .dropdown, .dropdown_text {
            font-size: 18px;
            font-weight: 500;
            border-width: 1.5px;
        }    
    
        .dropdown .fa-chevron-down {
            font-size: 1rem;
        }
    
        .submenuItems a {
            font-size: 17px;
            font-weight: 300;
            border-width: 1px;
        }
    
    
        /* NAVBAR ACCORDION END */
    
        .second_header {
            display: none;
        }
    
    /* HEADER END */ 
    
    /* FIRST SECTION CONTENT*/
    .first_section {
        background-image: url('../asset/men-group.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 313px;
    }

    .break {
        display: none;
    }

    .first_section_content {
        padding: 0px;
        padding-left: 0rem;
        text-align: center;
    }

    .first_content_first_text {
        font-size: 24px;
        font-weight: 500;
        padding-top: 10rem;
    }
    
    .first_content_second_text {
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: 300;
        color: rgba(255, 255, 255, 1);
    }
    /* FIRST SECTION CONTENT END*/

    /*SECOND SECTION START */
    .second_section_content {
        font-size: 18px;
    }
    /*SECOND SECTION END */

    /*THIRD SECTION START */
    .third_section_image {
        padding-top: 5rem;
    }
    
    .men_group2 {
        width: 267px;
        height: 200px;
    }
    
    .third_section_text_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0rem;
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
    
    .third_section_text_one {
        font-size: 24px;
        text-align: center;
    }
    
    .third_section_text_two {
        font-size: 16px;
        font-weight: 200;
        width: 270px;
        height: 300px;
        text-align: center;
        margin-top: 2rem;
    }
    /*THIRD SECTION END */

    /*FORTH SECTION START*/
    .fourth_section {
        padding-left: 0rem;
        margin-top: 3rem;
        text-align: center;
    }
    
    .join_community {
        font-size: 18px;
        font-weight: 700;
        color: rgba(0, 0, 0, 1);
        padding-bottom: 0rem;
    }
    
    .join_text {
        display: none;
    }
    /*FORTH SECTION END*/

    /* FIFTH SECTION START*/
    .fifth_section {
        padding-top: 0rem;
    }
    
    .enquiry {
        font-size: 16px;
        font-weight: 250;
        padding-left: 0rem;
        text-align: center;
    }
    
    /* FIFTH SECTION END*/  
    
    /* footer start */
    footer{
        flex-direction: column;
        height: fit-content;
    }
    
    footer span h1{
        font-size: 1rem;
    }
    
    
    footer span{
        width: 90%;
        margin-bottom: 2rem;
    }
    
    /* footer end */ 
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles for phone */
    /* HEADER START */
    .header_container {
        position: fixed;
        background-color: #f9f9f9;
        width: 100%;
        height: 60px;
        padding: none;   
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    
    
    .left img {
        margin-left: 7px;
        }
    
        .left img {
            width: 5rem;
        }
    
        .give_btn {
            display: none;
        }
    
        .right .menu_bar {
            width: 0;
            border: none;
        }
        
        .right .menu_bar .menu_span {
            display: none;
        }
    
         /* NAVBAR ACCORDION START */
         .accordion_menu {
            width: 100%;
            height: 100vh;
            background-color: grey;
        }
    
        .dropdown, .dropdown_text {
            font-size: 27px;
            font-weight: 300;
            line-height: 34px;
            border-width: 1.5px;
        }
    
        .dropdown .fa-chevron-down {
            font-size: 1rem;
        }
    
        .submenuItems a {
            font-size: 17px;
            font-weight: 300;
            line-height: 23px;
            border-width: 1px;
        }
    
        /* NAVBAR ACCORDION END */
    
        .second_header {
            display: none;
        }
    
    /* HEADER END */ 
    
    /* FIRST SECTION CONTENT*/
    .first_section {
        background-image: url('../asset/men-group.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 313px;
    }

    .break {
        display: none;
    }

    .first_section_content {
        padding: 0px;
        padding-left: 0rem;
        text-align: center;
    }

    .first_content_first_text {
        font-size: 32px;
        font-weight: 500;
        padding-top: 10rem;
    }
    
    .first_content_second_text {
        font-size: 25px;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
    }
    /* FIRST SECTION CONTENT END*/

    /*SECOND SECTION START */
    .second_section_content {
        font-size: 22px;
    }
    /*SECOND SECTION END */

    /*THIRD SECTION START */
    .third_section_image {
        padding-top: 5rem;
    }
    
    .men_group2 {
        width: 500px;
        height: 250px;
    }
    
    .third_section_text_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0rem;
        padding-top: 7rem;
        padding-bottom: 23rem;
    }
    
    .third_section_text_one {
        font-size: 30px;
        text-align: center;
    }
    
    .third_section_text_two {
        font-size: 25px;
        font-weight: 200;
        width: 450px;
        height: 300px;
        text-align: center;
        margin-top: 2rem;
    }
    /*THIRD SECTION END */

    /*FORTH SECTION START*/
    .fourth_section {
        padding-left: 0rem;
        margin-top: 3rem;
        text-align: center;
    }
    
    .join_community {
        font-size: 30px;
        font-weight: 700;
        color: rgba(0, 0, 0, 1);
        padding-bottom: 0rem;
    }
    
    .join_text {
        display: none;
    }
    /*FORTH SECTION END*/

    /* FIFTH SECTION START*/
    .fifth_section {
        padding-top: 0rem;
    }
    
    .enquiry {
        font-size: 26px;
        font-weight: 250 !important;
        padding-left: 0rem;
        text-align: center;
    }
    
    /* FIFTH SECTION END*/ 
    
    /* footer start */
    footer {
        height: 24rem;
    }

    /* footer end */
}

@media screen and (min-width: 1280px) {
    .second_section {
     display: flex;
     justify-content: center;
     align-items: center;
}

.second_section_content {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;
    width: 480px;
    color: rgba(75, 76, 77, 1);
}

/*THIRD SECTION START */
.third_section {
   background:rgba(0, 0, 0, 1);
   margin-top: 4rem;
}

.third_section_text_container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    
    .third_section_text_one {
        font-size: 25px;
        width: 350px;
        text-align: center;
    }
    
    .third_section_text_two {
        font-size: 19px;
        font-weight: 200;
        width: 450px;
        height: 300px;
        text-align: center;
        margin-top: 2rem;
    }
    /*THIRD SECTION END */




}


