{% extends "base.html" %}
{% load static %}
{% block title %}About Us{% endblock %}
{% block link %}<link rel="stylesheet" href="{% static 'core/css/about.css' %}">{% endblock %}
{% block content %}
<!--FIRST-HEADER-->

<!--FIRST-HEADER-START-->
<div class="second_header">
<div class="second_header_left">About Us</div>
<div class="second_header_right">
    <a href="/about/">Who we are</a>
    <a href="/belief/">Our Beliefs</a>
    <a href="/leaders/">Leadership</a>
    <div class="pointer"></div>
</div>
</div>
<!--SECOND-HEADER-END-->

<!--FIRST SECTION CONTENT START-->
<div class="first_section_content">
    <div class="first_section_first_content">We are Godhouse! </div>
    <div class="first_section_second_content">We are here, we are there, we are everywhere!</div>
</div>
<!--FIRST SECTION CONTENT END-->

<!--SECOND SECTION CONTENT START-->
<div class="second_section">
<div class="second_section_content">
    <div class="second_section_content_image">
        <img src="{% static 'core/asset/about_second.png' %}">
    </div>
    <div class="second_section_content_text">
        <div class="vision_text">Our Vision</div> 
        <div class="vision_content">We exist to spread the true Gospel of our Lord and Savior Jesus Christ to the whole world, with the aim of transforming sinners into saints and guiding believers in the understanding of Christ. Our ultimate objective is to raise and equip end-time ministers who are fully committed to sharing the Gospel, freeing people from the kingdom of darkness, and leading them into the kingdom of God.</div>
    </div>
</div>
</div>
<!--SECOND SECTION CONTENT END-->

<!--Middle-CONTAINER START-->
<div class="middle">
<!--THIRD SECTION CONTENT START-->
<div class="third_section">
<div class="third_section_content">
    <div class="third_section_content_first">
        <div class="we_pray">We Pray</div>
        <div class="we_pray_text">At Godhouse, we never underestimate the power of prayer in sharing the gospel. We understand that the eyes of unbelievers have been blinded by the devil. Therefore, we continually pray for the souls of men to be delivered from the kingdom of darkness into the kingdom of Light, and for the Lord of the harvest to send out laborers into His harvest.</div>
    </div>
</div>
</div>
<!--THIRD SECTION CONTENT END-->

<!--FOURTH SECTION CONTENT START-->
<div class="forth_section">
<div class="forth_section_content">
    <div class="forth_section_content_first">
        <div class="we_go">We Go</div>
        <div class="we_go_text">Our belief is that in order for individuals to be saved, they must listen to the Gospel. However, without a preacher, how can they hear it? Therefore, we strive to spread the word of Christ to all corners of the world, and guide people towards becoming his disciples.</div>
    </div>
</div>
</div>
<!--FOURTH SECTION CONTENT END-->

<!--FIFTH SECTION CONTENT START-->
<div class="fifth_section">
<div class="fifth_section_content">
    <div class="fifth_section_content_first">
        <div class="we_give">We Give</div>
        <div class="we_give_text">We are totally sold out to Christ! We recognize that the money and resources entrusted to us by God are simply tools that enable us to spread His message to those who are yet to hear it. With this understanding, we give generously and joyfully to every ministry endeavor.</div>
    </div>
</div>
</div>
</div>
<!--MIDDLE CONTAINER END-->
<!--FIFTH SECTION CONTENT END-->

<div class="sixth_section">
<div class="sixth_section_content">
    <div class="we_are_gh">We are Godhouse! </div>
    <div class="we_take">We take the whole word to the whole world.</div>
    <div class="prosperous">We are prosperous in this commission,</div>
    <div class="successful">We are successful in this assignment.</div>
    <div class="here">We are here, we are there</div>
    <div class="everywhere">We are everywhere</div>
</div>
</div>

{% endblock %}