{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}  - The GodHouse Center</title>
    {% block link %}<link rel="stylesheet" href="{% static 'core/css/home.css' %}">{% endblock %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/assests/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'core/assests/remixicon/remixicon.css' %}">
    <link rel="stylesheet" href="{% static 'core/assests/boxicons/css/boxicons.css' %}">
    <link rel="shortcut icon" href="{% static 'core/images/logo.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-297C7ZR3QW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-297C7ZR3QW');
</script>
<body>
    <!--WRAPPER START-->
    <div class="wrapper">
        <section class="first_section">
        <!--HEADER-->
        <div class="header_container" style="background-color:white;">
            <div class="left" style=" width:30%; height:100%; display: flex; 
 justify-content: flex-start; align-items:flex-start">
                <a href="/" style=" width:40%; height:90%; display: flex; 
 justify-content: flex-start; align-items:flex-start">
                    <img src="{% static 'core/images/logo.jpg' %}" alt="church-logo" style="width:100%; height:100%; object-fit: contain;">
                </a>
            </div>
    
            <div class="right">
                <div class="give_btn">
                    <a href="/give/"><button>Give</button></a>
                </div>

                <button class="menu_bar">
                    <div id="menu-btn" class="fas fa-bars"></div>
                    <div><span class="menu_span">Menu</span></div>
                </button>
            </div>

            <!--NAVBAR ACCORDION START-->
            <ul class="accordion_menu">    
                <li><a class="dropdown_text" href="/">Home</a></li>
                <li class="link">
                    <div class="dropdown">
                        About
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <ul class="submenuItems">
                        <li><a href="/about/">Who We Are</a></li>
                        <li><a href="/belief/">Our Belief</a></li>
                        <li><a href="/leaders/">Leadership</a></li> 
                    </ul>
                </li>
                <li><a class="dropdown_text" href="/locations/">Our Centers</a></li>
                <li class="link">
                    <div class="dropdown">
                        Resources
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <ul class="submenuItems">
                        <li><a href="/testimony/">Testimonies</a></li>
                        <li><a href="/store/">Books</a></li>
                        <li><a href="https://blog.godhouse.org" target="_blank">Blog</a></li>
                        <li><a href="/shekinah/">Worship with shekinah</a></li>
                    </ul>
                </li>
                <li><a class="dropdown_text" href="/events/">Event</a></li>
                <li class="link">
                    <div class="dropdown">
                        Watch & Listen
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <ul class="submenuItems">
                        <li><a href="/churchMessages/#videomessages">Video</a></li>
                        <li><a href="/churchMessages/#audio">Audio</a></li>
                        <li><a href="/wholewordtv/">Live TV</a></li>
                    </ul>
                </li>
                <li><a class="dropdown_text" href="/give/">Give</a></li>
                <li><a class="dropdown_text" href="/contact/">Contact</a></li>
            </ul>
            <!--NAVBAR ACCORDION END-->
        
        </div>
        <!--END - HEADER-->
        {% block content %}
        
        {% endblock  %}
        <footer>
            <span>
                <img src="{% static 'core/images/logo-white.png' %}" alt="">
            </span>
            <span>
                <h1><a href="/about/">About</a></h1>
                <a href="/about/">Vision</a>
                <a href="/about/">Who are we</a>
                <a href="/leaders/">Leadership</a>
                <a href="/locations/">Location</a>
            </span>
            <span>
                <h1><a href="/community/">Get Involved</a></h1>
                <a href="https://www.godhouse.org/community/men/">Godhouse Men</a>
                <a href="https://www.godhouse.org/community/women/">Godhouse Women</a>
                <a href="https://www.godhouse.org/community/christtribe/">Christ tribe</a>
                <a href="/community/unit">Serve</a>
                <a href="/give/">Give</a>
            </span>
            <span>
                <span>
                    <i class="ri-map-pin-2-fill"></i>
                    <p>2 Indian Street, beside Mansal hotel off Japka Road, Effurun, Warri, Delta State, Nigeria</p>
                </span>
                <span>
                    <i class="bi bi-telephone-fill"></i>
                    <p>+2349071511079</p>
                </span>
                <span>
                    <i class="bi bi-envelope-fill"></i>
                    <p><a href="mailto:info@godhouse.org" style='width: 100%'>Click here to send us a mail</a></p>
                </span>

                <div class="social">
                    <h5>Social Media</h5>
                    <a href="https://w.facebook.com/theGodHouseCentre">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="https://twitter.com/godhousecentre">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/thegodhousecentre"/>
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="https://www.youtube.com/@TheGodHouseCentre">
                        <i class="bi bi-youtube"></i>
                    </a>
                    <!-- for tiktok -->
                    <a href="https://www.tiktok.com/@the_god_house_center">
                        <i class="bx bxl-tiktok"></i>
                    </a>
                </div>
                
            </span>
        </footer>
    </div>
    
    <!--Ionicon Link Start-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!--Ionicon Link End-->

    <!--Javascript Link-->
    {% block script %}<script src="{% static 'core/js/home.js' %}"></script>{% endblock %}
    <!--Javascript link End-->
</body>
</html>