`{% extends "base.html" %}
{% load static %}
{% block title %}Blog{% endblock %}
{% block content %}
    <div class="blogPage">
        <main>
            <section class="greySection">
                <h2>Resources</h2>
                <div>
                    <a href="/testimony/">Testimonies</a>
                    <a href="">Worship with Shekinah</a>
                    <a href="/store/">Books & Merch</a>
                    <a href="/blog/" class="active">
                        Blogs
                        <i class="bi bi-record-fill"></i>
                    </a>
                </div>
            </section>
            <section class="blackSection">
                <h1>
                    Grow Spiritual and cultivate a deeper relationship with God through the various books by Apostle TD Philips.
                </h1>
            </section>
            <section class="introSection">
                <div class="text">
                    <h3>Many desktop publishing packages and web page</h3>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Aliquid veritatis alias dolore provident voluptatem illum
                    </p>
                    <a href="">Read more</a>
                </div>
                <div>
                    <span class="orangeSqure"></span>
                    <img src="{% static 'core/images/Rectangle-8.jpg' %}" alt="">
                </div>
            </section>
            <section>
                <div class="grid-container">
                    {% for b in blog %}
                    <div class="grid-item">
                        <span>
                            <img src="{{ b.images }}" alt="">
                            <span>
                                <h3>{{ b.title }}</h3>
                                <p>{{ b.content }}</p>
                                <a href="{{ b.get_absolute_url }}">Read more</a>
                            </span>
                        </span>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <button class="loadBtn">Load More</button>
            <section class="orangeSection">
                <h3>Newsletter</h3>
                <p>
                    Subscribe to our email list to get new blog post and church update sent directly to your email address
                </p>
                <span>
                    <input type="email" placeholder="Your email*">
                    <button type="submit">Subscribe</button>
                </span>
            </section>
        </main>
    </div>
{% endblock %}
{% block script %}<script src="{% static 'core/js/leadership.js' %}"></script>{% endblock %}
