{% extends "base.html" %}
{% load static %}
{% block title %}Contact Us{% endblock %}
{% block link %}<link rel="stylesheet" href="{% static 'core/css/contact.css' %}">{% endblock %}
{% block content %}
        <!--FIRST SECTION START-->
        <div class="first_section_content">
            <div class="fs_one">
                <div class="fs_c">Got a question? Contact us. </div> 
                <div class="fs_d">We’d love to get to know you!</div>
            </div>
            <div class="fs_one_image">
                <img class="fs_one_image" src="{% static 'core/asset/contact-image.png'%}" alt="contact-image">
            </div>
        </div>
        <!--FIRST SECTION START-->

        <!--SECOND SECTION START-->
        <div class="second_section">
            <div class="second_section_container">
                <div class="social_one_content">
                    <div class="map_image">
                        <ion-icon class="icon_icon" name="location-outline"></ion-icon>
                    </div>

                    <div class="map-content">Visit Us:</div>
                    <div class="map_link"><a href="/locations/">At any of our 19 branches</a></div>
                </div>

                <div class="social_one_content">
                    <div class="map_image">
                        <ion-icon class="icon_icon" name="mail-open-outline"></ion-icon>
                    </div>

                    <div class="map-content">Send us a mail</div>
                    <div class="map_link"><a href="">contact@Godhouse.com</a></div>
                </div>

                <div class="social_one_content">
                    <div class="map_image">
                        <ion-icon class="icon_icon" name="logo-facebook"></ion-icon>
                    </div>

                    <div class="map-content">Facebook</div>
                    <div class="map_link"><a href="https://w.facebook.com/theGodHouseCentre">@theGodHouseCentre</a></div>
                </div>

                <div class="social_one_content">
                    <div class="map_image">
                        <ion-icon class="icon_icon" name="logo-instagram"></ion-icon>
                    </div>

                    <div class="map-content">Instagram</div>
                    <div class="map_link"><a href="https://www.instagram.com/thegodhousecentre">@thegodhousecentre</a></div>
                </div>
            </div>
        </div>
        <!--SECOND SECTION END-->

        <!--THIRD SECTION START-->
        <div class="third_section">
            <div class="third_section_container">
                <div class="reach">What are you trying to reach on?</div>
            </div>

            <div class="select_container">
                <div class="select_btn">
                    <div class="select">Please Select</div>
                    <div class="select_icon">
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="center_select">
                <div class="select_option_container">
                    <div class="select_option">
                        <div class="option_select">Please Select:</div>
                        <a href="prayers/"><div class="option">Prayers</div></a>
                        <a href="enquiry/"><div class="option">Enquiry</div></a>
                        <a href="http://bit.ly/I_testify"> <div class="option">Share a Testimony</div></a>
                    </div>
                </div>
            </div>
        </div>
        <!--THIRD SECTION END-->

{% endblock %}
{% block script %}<script src="{% static 'core/js/contact.js' %}"></script>{% endblock %}
