{% extends "base.html" %}
{% load static %}
{% block title %}Giving{% endblock %}
{% block link %}<link rel="stylesheet" href="{% static 'core/css/give.css' %}">{% endblock %}
{% block content %}
<div class="giving_image">
    <div class="giving_center_content">
        <div class="first_main_content">
            <div class="first_child_content">Your Giving Makes All the Difference</div>
        </div>

        <div class="second_main_content">
            <div class="second_child_content">We give as an act of service, worship, and total obedience to God</div>
            <div class="third_child_content">Just as God gave us His Son, we also have learned to lay down our</div>
            <div class="fourth_child_content">time, our love, and our finances for the advancement of the kingdom</div>
        </div>
    </div>
</div>

<section>
    <div class="gateway_container">
        <form action="#">
            <label for="Amount">How much would you like to give?</label>
            <input required id="" type="text" name="Amount" placeholder="Enter amount you would like to give">

            <label for="payment option">What would you like to give towards?</label>
            <select name="favouritepet" id="favouritepet">
                <option value="none">Offering</option>
                <option value="dog">Tithe</option>
                <option value="cat">Partnership</option>
                <option value="bird">Teacher seed</option>
                <option value="bird">Special Givings</option>
            </select>

            <button type="submit">Submit</button>
        </form>
    </div>
</section>
{% block script %}<script src="{% static 'core/js/give.js' %}"></script>{% endblock %}
{% endblock %}