{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ leader.bio }}</title>
    <link rel="shortcut icon" href="{% static 'core/images/logo.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'core/css/papa.css' %}">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-297C7ZR3QW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-297C7ZR3QW');
</script>
<body>
    <div class="first_container">

        <div class="header">
           <a href="/leaders/">
             <div class="go_back">Go Back</div>
           </a>
            
            <a class="header_image" href="/" style="width:20%; height:100%; display: flex; justify-content: flex-end; align-items: flex-end;">
                <img src="{% static 'core/images/logo.jpg' %}" alt="church logo" style="width:70%; height:100%; object-fit: contain;">
            </a>
        </div>

        <div class="content_container">
            <div class="left_image">
                <img src="{{ audio.images.url }}" alt="mama-image">
            </div>

            <div class="right_content">
                <p>{{ audio.description }}</p>

                <div class="icons">
                    <a href="{{ audio.link }}">Dowload</a>
                </div>
            </div>
        </div>
    </div>

     <!--Ionicon Link Start-->
     <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
     <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
     <!--Ionicon Link End-->
</body>
</html>