{% extends "base.html" %}
{% load static %}
{% block title %}GodHouse Near you{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'core/css/location1.css' %}">
{% endblock %}
{% block content %}

        <!--FIRST SECTION START-->
        <div class="first_section">
            <div class="first_section_content">
                <div class="gh_port_content">
                    <div class="gh_portharcourt">GodHouse Center</div>
                    <div class="gh_portharcourt_one">{{ location.name }}</div>
                </div>
            </div>
        </div>

        <!--FIRST SECTION END-->

        <!--SECTION SECTION START-->
        <div class="second_section">
            <div class="second_section_content">
                <div class="second_section_content_one">
                    <h3 class="center_location">Center Information</h3>
                    <div class="center_address c-1">
                        <ion-icon class="ic" name="location-outline"></ion-icon> <a href="#">{{ location.address|linebreaks }}</a>
                    </div>

                    <div class="center_call c-1">
                        <ion-icon class="ic" name="call-outline"></ion-icon> <a href="#">{{ location.tel }}</a>
                    </div>

                    <div class="center_mail c-1">
                        <ion-icon class="ic" name="mail-outline"></ion-icon> <a href="#">{{ location.email }}</a>
                    </div>
                    {% for s in service %}
                    <div class="center_time c-1">
                        <ion-icon class="ic" name="time-outline"></ion-icon
                            <span style="display:block;">  
                            {{ s.day }} {{ s.time }}
                            </span>
                    </div>
                    {% endfor %}
                </div>

                <div class="second_section_content_two">
                    <div class="about_godhouse">About Center</div>

                    <div class="about_godhouse_content">{{ location.description }}</div>
                </div>
            </div>
        </div>
        <!--SECTION SECTION END-->
{% endblock %}