{% extends "base.html" %}
{% load static %}
{% block title %}GodHouse Near you{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'core/css/location.css' %}">
{% endblock %}
{% block content %}

        <!--LOCATION-MAP-CONTAINER-->
        <div class="location">

            <div class="location_center">
                <div class="location_image">
                    <img class="blink_image" src="{% static 'core/asset/Location.png' %}" alt="location-image">
                </div><br><br>
    
                <div class="content">
                    <div class="first_content">Find a Godhouse Center</div>
                    <div class="second_content">Find a Godhouse Location near you.</div>
                </div>
            </div>

        </div>
        <!--LOCATION-MAP-END-->


        <div class="location_gallery"> <!--LOCATION-GALLERY-CONTAINER (LOCATION GALLERY IS DIVIDED INTO THREE GALLERY BEACAUSE OF PROPER STYLING)-->
            <!--FIRST-LOCATION-GALLERY-CONTAINER-->
            <div class="first_location_gallery">

             <div class="church first_church">
                <div class="location_image center_image">
                    <img src="{% static 'core/asset/warri church.jpg' %}" alt="warri-location-image">
                </div>

                <div class="center_address">Warri</div>

                <div class="get_location">Get Direction</div>

                <div class="location_detatils"><a href="#">View Location Details</a></div>
                
              </div>
            </div>
            <!--FIRST-LOCATION-GALLERY-CONTAINER-END-->
            <!--E-CENETERS START-->
            <div class="e_centers_container">
                <div class="e_content">E-Centers</div>
                <div class="e_ceneters_gallery">
                    <div class="church first_church">
                        <div class="location_image center_image">
                            <img src="{% static 'core/asset/godhouse uk.jpg' %}" alt="warri-location-image">
                        </div>
        
                        <div class="center_address">UK</div>
        
                        <div class="get_location">Get Direction</div>
        
                        <div class="location_detatils"><a href="#">View Location Details</a></div>
                        
                    </div>

                    <div class="church second_church">
                        <div class="location_image center_image">
                            <img src="{% static 'core/asset/godhouse us.jpg' %}" alt="warri-location-image">
                        </div>
        
                        <div class="center_address">US</div>
        
                        <div class="get_location">Get Direction</div>
        
                        <div class="location_detatils"><a href="#">View Location Details</a></div>
                        
                    </div>

                    <div class="church third_church">
                        <div class="location_image center_image">
                            <img src="{% static 'core/asset/godhouse canada.jpg' %}" alt="warri-location-image">
                        </div>
        
                        <div class="center_address">CANADA</div>
        
                        <div class="get_location">Get Direction</div>
        
                        <div class="location_detatils"><a href="#">View Location Details</a></div>
                        
                    </div>
                </div>
            </div>
            <!--E-CENETERS END-->
        </div>

{% endblock %}
{% block script %}<script src="{% static 'core/js/location.js' %}"></script>{% endblock %}