{% extends "base.html" %}
{% load static %}
{% block title %}{{ churches.name }} Church{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'core/css/men.css' %}">
<link rel="shortcut icon" href="{% static 'core/images/logo.jpg' %}" type="image/x-icon">
{% endblock %}
{% block content %}
                <div class="first_section">
            <div class="first_section_content">
                <div class="first_content_first_text">{{ churches.name }}</div>
                <div class="first_content_second_text">{{ churches.slogan }}</div>
            </div>
        </div>
        <!--First Section End-->

        <!--Second Section Start-->
        <div class="second_section">
            <div class="second_section_content">
               {{ churches.Bible_verse }} 
            </div>
        </div>
        <!--Second Section End-->

        <!--Third Section Start-->
        <div class="third_section">
            <div class="third_section_image">
                <img class="men_group2" src="{{ churches.image.url }}" alt="men-group-image">
            </div>

            <div class="third_section_text_container">
                <div class="third_section_text_one">
                    {{ churches.quote }} 
                </div>

                <div class="third_section_text_two">
                   {{ churches.description }}
                </div>
            </div>
        </div>
        <!--Third Section End-->

        <!--FOURTH SECTION START-->
        <div class="fourth_section">
            <div class="join_community" style="line-height: 1.7rem;">Join the {{ churches.name }} Community</div>
            <div class="join_text">{{ churches.description2 }}</div>
        </div>
        <!--FOURTH SECTION END-->

        <!--FIFTH SECTION START-->
        <div class="fifth_section">
            <div class="enquiry"> To know more about {{ churches.name }} ministry reachout to a leader in your Center</div>
        </div>
        <!--FIFTH SECTION END-->
{% endblock %}
{% block script %}<script src="{% static 'core/js/men.js' %}"></script>{% endblock %}