{% extends "base.html" %}
{% load static %}
{% block title %}About Us{% endblock %}
{% block link %}<link rel="stylesheet" href="{% static 'core/css/our-beliefs.css' %}">{% endblock %}
{% block content %}

<!--FIRST-HEADER-START-->
<div class="second_header">
<div class="second_header_left">About Us</div>
<div class="second_header_right">
    <a href="/about/">Who we are</a>
    <a href="/belief/">Our Beliefs</a>
    <a href="/leaders/">Leadership</a>
    <div class="pointer"></div>
</div>
</div>
<!--SECOND-HEADER-END-->

<!--FIRST SECTION CONTENT START-->
<div class="first_section_content">
    <div class="first_section_first_content">What we believe in</div> 
    <!--Learn more-->
    <div class="learn_more">Learn More <span>&rarr;</span></div>
    <!--Learn more end-->
</div>
<!--FIRST SECTION CONTENT END-->

<!--SECOND SECTION START-->
<div class="second_section">
<div class="second_section_content">
    <div>These beliefs are at the</div>
    <div>core of who we are</div>
</div>
</div>
<!--SECOND SECTION END-->

<!--THIRD SECTION START-->
<div class="third_section">
<div class="third_section_content">
    <!--FIRST-ROW-START-->
    <div class="first_row_coding">
        <div class="third_section_first_container">
            <div class="tsfc_1">God</div>
            <div class="tsfc_text">God is the creator of the universe and the author of life. God is a spirit; He has all the power, omniscient and omnipresent. He is timeless, immutable, and never changes.</div>
        </div>

        <div class="third_section_second_container">
            <div class="tsfc_1">Jesus</div>
            <div class="tsfc_text">We believe that Jesus is God who became flesh for the redemption of mankind, and that through faith in Him, the world might be saved.
            </div>
        </div>
    </div>
    <!--FIRST-ROW-START-->
        
    <!--SECOND-ROW-START-->
    <div class="second_row_coding">
        <div class="third_section_first_container">
            <div class="tsfc_1">The Holy Spirit</div>
            <div class="tsfc_text">We believe that the Holy Spirit is the spirit of God given to us upon salvation. We also believe in the infilling of the Spirit evidenced by supernatural abilities, and that believers should seek to walk in same.</div>
        </div>

        <div class="third_section_second_container">
            <div class="tsfc_1">The Bible</div>
            <div class="tsfc_text">We believe the Bible is the word of God, and it takes precedence over the word of men. We believe that it is the final authority concerning all life’s issues, and the ultimate standard for all believers to live by (1Tim. 3:16)</div>
        </div>

        <div class="third_section_second_container">
            <div class="tsfc_1">Salvation</div>
            <div class="tsfc_text">We believe that there is no other way to be saved except by faith in the death, burial, and resurrection of the Lord Jesus Christ. (Acts 4:12; Roms. 10:9-11)</div>
        </div>
    </div>
    <!--SECOND-ROW-END-->

    <!--THIRD-ROW-START-->
    <div class="third_row_coding">
        <div class="third_section_first_container">
            <div class="tsfc_1">Eternity</div>
            <div class="tsfc_text">We believe in the hereafter and in the second coming of our Lord Jesus, and that all who are in Christ are eternally secure in Him, and will dwell with him.</div>
        </div>

        <div class="third_section_second_container">
            <div class="tsfc_1">Confessions</div>
            <div class="tsfc_text">We believe in the power of confession and speaking spirit-inspired words to effect change in our lives and in others.</div>
        </div>

        <div class="third_section_second_container">
            <div class="tsfc_1">Spiritual Growth</div>
            <div class="tsfc_text">We believe that a genuine Christian life must be rooted in a personal knowledge of Jesus and characterized by a progressive understanding of God's purpose and principles. This should be evidenced by the fruit of the spirit.</div>
        </div>
    </div>
    <!--THIRD-ROW-END-->
</div>
</div>
<!--THIRD SECTION END-->

<!--FORTH-SECTION START-->
<div class="forth_section">
    <div class="forth_section_content">
    <div class="believers_class">To find out what we believe in, join our Believer’s Academy</div>
    <span><img src="{% static 'core/asset/believers academy icon.png' %}" alt="icon"></span>
    </div>
</div>
<!--FORTH-SECTION START-->
{% endblock %}