{% extends "base.html" %}
{% load static %}
{% block title %}Contact Us{% endblock %}
{% block link %}<link rel="stylesheet" href="{% static 'core/css/prayer-request.css' %}">{% endblock %}
{% block content %}
        <!--FIRST SECTION START-->
        <div class="first_section_content">
            <div class="fs_one">
                <div class="fs_c">Got a question? Contact us. </div> 
                <div class="fs_d">We’d love to get to know you!</div>
            </div>
            <div class="fs_one_image">
                <img class="fs_one_image" src="{% static 'core/asset/contact-image.png' %}" alt="contact-image">
            </div>
        </div>
        <!--FIRST SECTION START-->

        <!--SECOND SECTION START-->
        <div class="second_section">
            <div class="second_section_container">
                <div class="social_one_content">
                    <div class="map_image">
                        <ion-icon class="icon_icon" name="location-outline"></ion-icon>
                    </div>

                    <div class="map-content">Visit Us:</div>
                    <div class="map_link"><a href="/locations/">At any of our 19 branches</a></div>
                </div>

                <div class="social_one_content">
                    <div class="map_image">
                        <ion-icon class="icon_icon" name="mail-open-outline"></ion-icon>
                    </div>

                    <div class="map-content">Send us a mail</div>
                    <div class="map_link"><a href="">contact@Godhouse.com</a></div>
                </div>

                <div class="social_one_content">
                    <div class="map_image">
                        <ion-icon class="icon_icon" name="logo-facebook"></ion-icon>
                    </div>

                    <div class="map-content">Facebook</div>
                    <div class="map_link"><a href="https://w.facebook.com/theGodHouseCentre">@theGodHouseCentre</a></div>
                </div>

                <div class="social_one_content">
                    <div class="map_image">
                        <ion-icon class="icon_icon" name="logo-instagram"></ion-icon>
                    </div>

                    <div class="map-content">Instagram</div>
                    <div class="map_link"><a href="https://www.instagram.com/thegodhousecentre">@thegodhousecentre</a></div>
                </div>
            </div>
        </div>
        <!--SECOND SECTION END-->

        <!--THIRD SECTION START-->
        <div class="third_section">
            <div class="third_section_container">
                <div class="reach">What are you trying to reach on?</div>
            </div>

            <div class="select_container">
                <div class="select_btn">
                    <div class="select">Please Select</div>
                    <div class="select_icon">
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <!--THIRD SECTION END-->

        <!--FORTH SECTION START-->
        <div class="forth_section">
            <div class="form_section">
                <div class="header_text">
                 <div class="form_header_one">Prayer Request</div>
                 <div class="form_header_two">We’re are honored to agree with you in prayer today. Would you please take a minute to fill out the form below to let us know how we can be praying?</div>
                </div>

                <form action="" method='post'>
                    {% csrf_token %}
                    <div class="form_group">
    
                        <input type="text" name="name" placeholder="Name" class="form_control" required>
                        <input type="email" name="email" placeholder="Email" class="form_control">
                        <input type="text"  name="phone_number" placeholder="Phone number" class="form_control" required>

                        <div class="sub_input">
                            <div class="prayer_team_contact">Would You Like To Be Contacted By Our Prayer Team?</div>

                           <div class="radio_btn">
                              <div class="radio_one">
                                <input type="radio" name="yes" id="yes" value="yes"> <span>Yes- I'd like to talk to someone</span>
                              </div>

                              <div class="radio_two">
                                <input type="radio" name="no" id="no" value="no"> <span>No- I'd like to talk to someone</span>
                              </div>

                            </div>
                        </div>
    
                        <div class="text_area">
                            <textarea class="text_message" name="message" placeholder="Write your payer request.." cols="30" rows="10"></textarea>
                        </div>
    
                        <div class="button">
                            <button class="btn">Send</button>
                        </div>
                    </div>
    
                </form>
                
            </div>
        </div>
        <!--FORTH SECTION END-->
        
{% endblock %}
{% block script %}<script src="{% static 'core/js/contact.js' %}"></script>{% endblock %}
