{% extends "base.html" %}
{% load static %}
{% block title %}Sermons{% endblock %}
{% block link %}<link rel="stylesheet" href="{% static 'core/css/sermon.css' %}">{% endblock %}
{% block content %}
        <!--FIRST SECTION START-->
        <div class="second_section">
            <div class="second_section_content_text">
                <div class="second_section_fc">Sermons</div>
                <div class="second_section_sc">MAIN TEACHING FROM <br> APOSTLE TD PHILIPS</div>
            </div>

            <div class="second_section_content_image">
                <img src="{% static 'core/asset/sermon2.png' %}" alt="sermon2">
            </div>
            
        </div>
        <!--FORTH SECTION START-->

        <div class="forth_section youtube_container">
            <div class="btn_container youtube_btn_container">
                <a href="https://www.youtube.com/@TheGodHouseCentre"><div class="series_text youtube_text">Watch Video Sermon</div></a>
            </div>

            <div class="wraper_container " id='videomessages'>

                <div class="wraper">
                    <div>
                        <iframe src="https://www.youtube.com/embed/8vGMmrO5-hs?si=ys6jP8AJuqBxF2hi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>

                    <div>
                        <iframe src="https://www.youtube.com/embed/0pBQ1wXNypk?si=XTuX80L-_n3BUzjP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>

                    <div>
                        <iframe src="https://www.youtube.com/embed/cXk7FmL1Hao?si=cmvxDPEaF2X3PNdx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>

                    <div>
                        <iframe src="https://www.youtube.com/embed/oO1EULQsmP8?si=Vy7oAnxuXtJHgf_1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="wraper">
                    <div>
                        <img src="{% static 'core/asset/Team.png' %}">
                    </div>

                    <div>
                        <img src="{% static 'core/asset/Team2.png' %}">
                    </div>

                    <div>
                        <img src="{% static 'core/asset/Team3.png' %}">
                    </div>

                    <div>
                        <img src="{% static 'core/asset/Team2.png' %}">
                    </div>

                </div>

               
            </div>
        </div>

        <!--FOURTH SECTION END-->

        <!--FIFTH SECTION START-->
        <div class="forth_section">
            <div class="forth_section_content">
                <div class="series_text_c">
                    <div class="our_current">Our Current Series</div>

                    <div class="series_title">The Book of Ruth</div>

                    <div class="series_content">We often define our lives by the big moments. But most of our lives consist of ordinary chapters. They may not feel significant, but ultimately change everything. In our series, The Book of Ruth, we'll discover the hidden beauty of life’s small moments.</div>

                    <div class="links">
                        <a class="listen_link" href="">Listen Now</a>
                        <a class="download_link" href="#">Download</a>
                    </div>
                </div>
                
                <div class="series_image">
                    <img src="{% static 'core/asset/series-image.png' %}" alt="series-image">
                </div>
            </div>
        </div>
        <!--FIFTH SECTION SECTION END-->

        <!--SIXTH SECTION START-->
        <div class="sixth_section">
            <div class="sixth_section_content">
                <div class="sixth_series">In This Series</div>
                <div class="in_this_content">
                    <div class="in_this_one">
                        <div class="img">
                            <img src="{% static 'core/asset/series-image.png' %}" alt="in-this-series">
                        </div>
                        <div class="s_t">When It’s time to Walk Away</div>
                        <div class="series_part">Part 1</div>
                    </div>
                </div>
            </div>
        </div>
        <!--SIXTH SECTION END-->

        <!--SEVENTH SECTION START-->
        <div class="seventh_section">
            <div class="seventh_section_container">
                <div class="past_series">Past Series</div>
                <div class="past_series_container">
                    {% for  in  %}
                    <div class="past_series_item_container">
                        <div class="past_series_item">
                            <div class="past_series_image">
                              <a href="{{ audio.get_absolute_url }}"><img src="{{ audio.image.url }}" alt="past-series-image"></a>
                            </div>
                            <div class="past_series_text">{{ audio.name }}</div>
                        </div> 
                    </div>
                    {% endfor %}
                </div>

                <div class="btn_c">
                    <button class="seriesbtn">Load More</button>
                </div>
            </div>
        </div>
        <!--SEVENTH SECTION END-->
{% endblock %}
{% block script %}<script src="{% static 'core/js/sermon.js' %}"></script>{% endblock %}