{% extends "base.html" %}
{% load static %}
{% block title %}Testimonies{% endblock %}
{% block content %}
    <div class="testimonies blogPage">
        <main>
            <section class="greySection">
                <h2>Resources</h2>
                <div>
                    <a href="" class="active">
                        Testimonies
                        <i class="bi bi-record-fill"></i>
                    </a>
                    <a href="">Worship with Shekinah</a>
                    <a href="">Books & Merch</a>
                    <a href="">Blogs</a>
                </div>
            </section>
            <section class="testimonyIntro">
                <h1>Jesus is not an <br> ex-miracle worker</h1>
                <p>
                    See testimonies of what God has done
                </p>
            </section>
            <section>
                <div class="grid-container">
                    {% for t in testimony %}
                    <div class="grid-item">
                        <span class="testimonies-grid">
                            <a href=''>
                                <span>
                                    <h2>&quot;</h2>
                                    <p>{{ testimony.testimony_content }} </p>
                                </span>
                                <span>
                                    <img src="{{ testimony.Testifer_images }}" alt="">
                                    <span class="userProfile">
                                        <h3>{{ testimony.Testifer_names }}r</h3>
                                        <p>{{ testimony.Testifer_center }}</p>
                                    </span>
                                </span>
                            </a>
                        </span>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <section class="sectionTitle">
                <h1>Pictures from Healing services</h1>
            </section>
            <section class="testimony-grid-container  width">
                {% for i in testimg %}
                <div class="testmony-grid-item grid-item-{{ testimg.class_number }}">
                    <img src="{{ testimg.image }}" alt="">
                </div>
                {% endfor %}
            </section>
        </main>
    </div>
{% endblock %}