{% extends "base.html" %}
{% load static %}
{% block title %}Testimonies{% endblock %}
{% block content %}
    <div class="testimonies blogPage">
        <main>
            <section class="greySection">
                <h2>Resources</h2>
                <div>
                    <a href="" class="active">
                        Testimonies
                        <i class="bi bi-record-fill"></i>
                    </a>
                    <a href="">Worship with Shekinah</a>
                    <a href="">Books & Merch</a>
                    <a href="">Blogs</a>
                </div>
            </section>
            <section class="testimonyIntro">
                <h1>Jesus is not an <br> ex-miracle worker</h1>
                <p>
                    See testimonies of what God has done
                </p>
            </section>
            <section>
                <div class="grid-container">
                    <div class="grid-item">
                        <span class="testimonies-grid">
                            <span>
                                <h2>&quot;</h2>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Aliquam temporibus quasi doloribus tenetur beatae minima 
                                    fuga non consequatur dolorum dolor ad, suscipit, voluptatem numquam eos.
                                </p>
                            </span>
                            <span>
                                <img src="{% static 'core/images/Rectangle-8.jpg' %}" alt="">
                                <span class="userProfile">
                                    <h3>John Peter</h3>
                                    <p>Ceo, card center</p>
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="grid-item">
                        <span class="testimonies-grid">
                            <span>
                                <h2>&quot;</h2>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Aliquam temporibus quasi doloribus tenetur beatae minima 
                                    fuga non consequatur dolorum dolor ad, suscipit, voluptatem numquam eos.
                                </p>
                            </span>
                            <span>
                                <img src="{% static 'core/images/Rectangle-8.jpg' %}" alt="">
                                <span class="userProfile">
                                    <h3>John Peter</h3>
                                    <p>Ceo, card center</p>
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="grid-item">
                        <span class="testimonies-grid">
                            <span>
                                <h2>&quot;</h2>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Aliquam temporibus quasi doloribus tenetur beatae minima 
                                    fuga non consequatur dolorum dolor ad, suscipit, voluptatem numquam eos.
                                </p>
                            </span>
                            <span>
                                <img src="{% static 'core/images/Rectangle-8.jpg' %}" alt="">
                                <span class="userProfile">
                                    <h3>John Peter</h3>
                                    <p>Ceo, card center</p>
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="grid-item">
                        <span class="testimonies-grid">
                            <span>
                                <h2>&quot;</h2>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Aliquam temporibus quasi doloribus tenetur beatae minima 
                                    fuga non consequatur dolorum dolor ad, suscipit, voluptatem numquam eos.
                                </p>
                            </span>
                            <span>
                                <img src="{% static 'core/images/Rectangle-8.jpg' %}" alt="">
                                <span class="userProfile">
                                    <h3>John Peter</h3>
                                    <p>Ceo, card center</p>
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="grid-item">
                        <span class="testimonies-grid">
                            <span>
                                <h2>&quot;</h2>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Aliquam temporibus quasi doloribus tenetur beatae minima 
                                    fuga non consequatur dolorum dolor ad, suscipit, voluptatem numquam eos.
                                </p>
                            </span>
                            <span>
                                <img src="{% static 'core/images/Rectangle-8.jpg' %}" alt="">
                                <span class="userProfile">
                                    <h3>John Peter</h3>
                                    <p>Ceo, card center</p>
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="grid-item">
                        <span class="testimonies-grid">
                            <span>
                                <h2>&quot;</h2>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Aliquam temporibus quasi doloribus tenetur beatae minima 
                                    fuga non consequatur dolorum dolor ad, suscipit, voluptatem numquam eos.
                                </p>
                            </span>
                            <span>
                                <img src="{% static 'core/images/Rectangle-8.jpg' %}" alt="">
                                <span class="userProfile">
                                    <h3>John Peter</h3>
                                    <p>Ceo, card center</p>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
            </section>
            <section class="sectionTitle">
                <h1>Pictures from Healing services</h1>
            </section>
            <section class="testimony-grid-container  width">
                <div class="testmony-grid-item grid-item-one">
                    <img src="{% static 'core/images/Rectangle-8.jpg' %}" alt="">
                </div>
                <div class="testmony-grid-item grid-item-two">
                    <img src="{% static 'core/images/Rectangle-8.jpg' %}" alt="">
                </div>
                <div class="testmony-grid-item grid-item-three">
                    <img src="{% static 'core/images/Rectangle-8.jpg' %}" alt="">
                </div>
                <div class="testmony-grid-item grid-item-four">
                    <img src="{% static 'core/images/Rectangle-8.jpg' %}" alt="">
                </div>
                <div class="testmony-grid-item grid-item-five">
                    <img src="{% static 'core/images/Rectangle-8.jpg' %}" alt="">
                </div>
                <div class="testmony-grid-item grid-item-six">
                    <img src="{% static 'core/images/Rectangle-8.jpg' %}" alt="">
                </div>
                <div class="testmony-grid-item grid-item-seven">
                    <img src="{% static 'core/images/Rectangle-8.jpg' %}" alt="">
                </div>
                <div class="testmony-grid-item grid-item-eight">
                    <img src="{% static 'core/images/Rectangle-8.jpg' %}" alt="">
                </div>
                <div class="testmony-grid-item grid-item-nine">
                    <img src="{% static 'core/images/Rectangle-8.jpg' %}" alt="">
                </div>
            </section>
        </main>
    </div>
{% endblock %}