{% extends "base.html" %}
{% load static %}
{% block title %}Unit{% endblock %}
{% block content %}
    <div class="eventPage servePage">
        <main>
            <section class="serveIntro">
                <h2>Serve with a team</h2>
                <p>
                    At Godhouse, we are committed to creating a sense of belonging and 
                    purpose for everyone. Explore the diverse units within our church, 
                    where you can actively participate and make a meaningful impact on 
                    our community. Find your place among the different units that align 
                    with your interests and values:
                </p>
                <h6>See serve opportunities below.</h6>
            </section>
            <section>
                <div class="grid-container">
                    <div class="grid-item serve">
                        <span>
                            <img src="{% static 'core/asset/godhouse us.jpg' %}" alt="">
                            <span class="text">
                                <h3>The GodHouse Dev. team</h3>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur 
                                    adipisicing elit. Enim debitis harum 
                                    recusandae vel neque asperiores 
                                    distinctio architecto placeat natus! 
                                    Quod!
                                </p>
                                <a href="">Join Dev Team &rarr;</a>
                            </span>
                        </span>
                    </div>
                    {% for u in unit %}
                    <div class="grid-item serve">
                        <span>
                            <img src="{{ u.images }}" alt="">
                            <span class="text">
                                <h3>The GodHouse {{ u.name }}</h3>
                                <p>{{ u.description }}</p>
                            </span>
                        </span>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <section class="unitInfo">
                <h1>To know how you can join a service unit, speak with a leader at your local GodHouse center</h1>
            </section>
        </main>
    </div>
{% endblock %}